/* div, header, footer, section, nav {
    border: 1px solid rgb(205, 50, 159);
  } */



.search-box{
    overflow: hidden;
    top:45%;
    left: 30%;
    position: absolute;
    margin-bottom: 10px;
    display: inline-block;
    height: 60px;
    padding: 5px;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    min-width: 400px;
    
}

.temp-sub{
    line-height: 75%;
}

.search{
    position: relative;
    font-size: 2rem;
    width: 80%;
    height: 7vh;
    background: transparent;
    border: none;
    bottom: 10px;
    outline: none;
}

/* Outline and border removes the selector box around the search */

.button{
    position: relative;
    font-size: 2rem;
    height: 100%;
    background-color: rgb(135, 180, 216);
    margin-top: -5px;
    border-radius: 25px;
    left: 7px;
    top: 5px;
}

.unit-buttons{
    position: relative;
    left: 50%;
}

.searchimage{
    position: relative;
    height: 80%;
    padding: 5px;
    bottom: 2px;

}
.status{
    position: relative;
}

.weather-status{
    position: absolute;
    z-index: -1;
    overflow: none;
}
.weather-status img{
    width: 80%;
    height: 80%;
    padding-left: 20px;
    opacity: 80%;
}

.weather-text{
    z-index: 1;
    position:
}

@keyframes slide{
    from {top: 45%;
    }
    to {
        top: 2%;
    }
}