/* div, header, footer, section, nav {
    border: 1px solid rgb(90, 15, 15);
} */

.main-head{
    border-radius: 20px;
    background-color: rgba(183, 235, 222, 0.377);

}
.main-head h1{
    font-size: 40px;
    margin-top: -20px;
}
.main-head p{
    padding-top: 10px;

}

.main-body{
    border-radius: 20px;
    background-color: rgba(164, 217, 219, 0.377);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.temp-main{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    font-size: 30px;
    
}

.status{
    padding: 15px;
    margin-right: 10px;
}

.lower-body{
    border-radius: 20px;
    background-color: rgba(155, 190, 201, 0.377);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.wind{
    display:flex;
    margin-left: 12vh;
}

.compass {
    padding: 6px;
    display: inline;
    height: 5vh;
    width: 5vh;
    margin-left: 6px;
    /* transform: rotate(-45deg) */
}


.box{
    padding: 10px;
}